<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Help - this isn't a homepage yet</h1>

    <% for(let i = 0; i < heart.length; i++) { %>
      <div class="heart">
          <h2><%= heart[i].date %></h2>
          <p><%= heart[i].text %></p>
          <p> ~ Anonymous %></p>
          <p><%= heart[i].to %></p>
      </div>
    <% } %>
  </body>
</html>
